attrs==20.3.0
base58==1.0.3
beautifulsoup4==4.9.3
bs4==0.0.1
carnivalmirror==0.6.2
certifi==2020.12.5
cloudpickle==1.6.0
coloredlogs==15.0
coverage==5.3
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
frozendict==1.2
future==0.18.2
Geometry==0.0.23
gym==0.18.0
humanfriendly==9.1
imageio==2.9.0
importlib-metadata==3.3.0
jsonschema==3.2.0
kiwisolver==1.3.1
matplotlib==3.3.3
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mypy-extensions==0.4.3
networkx==2.5
nose==1.3.7
opencv-python==4.4.0.46
oyaml==1.0
Pillow==7.2.0
pupil-apriltags==1.0.4
pupil-pthreads-win==2
pybase64==1.1.1
PyContracts==1.8.12
PyContracts3==3.0.2
PyGeometry==1.5.6
PyGeometry-z6==2.0.5
pyglet==1.5.0
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
PyWavelets==1.1.1
PyYAML==3.12
pyzmq==20.0.0
scikit-image==0.17.2
scipy==1.5.4
soupsieve==2.1
svgwrite==1.4
termcolor==1.1.0
tifffile==2020.9.3
typing-extensions==3.7.4.3
validate-email==1.3
webcolors==1.11.1
wincertstore==0.2
xtermcolor==1.3
zipp==3.4.0
zuper-commons==3.0.4
zuper-commons-z6==6.1.7
zuper-typing-z6==6.1.8
